<div class="tweet">
  <a class="source button" href="https://twitter.com/{{author}}/status/{{id}}" target="_blank">
    <i class="material-icons">anchor</i>
  </a>
  <div class="text">{{text}}</div>
  <div class="image">
    {{~#each media}}
      {{#if this.url}}
        <a href={{this.url}} target="_blank">
          <img src={{this.url}} />
        </a>
      {{/if}}
    {{/each}}
  </div>
</div>
